<p class="info-text"> Information about |CAR 123| </p>
  <table class="overviewtable">
    <tr> <td> <b> productId: </b></td> <td>{{payload.productId}}</td> </tr>
      <tr> <td> <b> status: </b></td> <td>{{payload.status}}</td> </tr>
      <tr> <td> <b> holder: </b></td> <td>{{payload.holder}}</td> </tr>
      <tr> <td> <b> transportReport: </b></td> <td>{{payload.transportReport.transId}}</td> </tr>
      <tr> <td> <b> routeHash: </b></td> <td>{{payload.transportReport.routeHash}}</td> </tr>
</table>
