{
  "$class": "sc.demonstrator.net.SensorStatusUpdate",
  "tilted": 5,
  "acceleration": 5,
  "temperature": 5,
  "car": "resource:sc.demonstrator.net.Car#Car_TEST",
  "issuer": "resource:sc.demonstrator.net.Transport_holder#Transport_holder_TEST"
}

{
  "$class": "sc.demonstrator.net.SensorStatusUpdate",
  "tilted": 5,
  "acceleration": 5,
  "temperature": 5,
  "file": {
    "$class": "sc.demonstrator.net.FileObj",
    "fileId": "1294",
    "fileHash": "NANUNANA"
  },
  "car": "resource:sc.demonstrator.net.Car#Car_TEST",
  "issuer": "resource:sc.demonstrator.net.Transport_holder#Transport_holder_TEST"
}


{
	"$class": "sc.demonstrator.net.SensorStatusUpdate",
	"tilted": 123,
	"acceleration": 123,
	"temperature": 123,
	"file": {
		"$class": "sc.demonstrator.net.FileObj",
		"fileId": "39ada594e2201811141524",
		"fileHash": "39ada594e252f76f28d1d901042a194a82a9c0fb899a669ad3ac93ddafeaa337"
	},
	"car": "resource:sc.demonstrator.net.Car#Car_TEST",
	"issuer": "resource:sc.demonstrator.net.Transport_holder#Transport_holder_TEST"
}
